.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.wrapper { 
  height: 100%;
  background: #f0f0f0;
  padding-bottom: 100px;
}

.footer {
  background: #000;
  color: #fff;
  width: 100%;
}

@media (max-width: 780px) {
  .footer {
    position: relative;
  }
  .wrapper {
    height: 100%;
  }
}

.footer-container {
  padding-top: 50px;
  padding-bottom: 50px;
}